@model TomasGreen.Web.Areas.Stock.ViewModels.SaveReceiveArticleWarehouseViewModel

@{
    ViewData["Title"] = "Add articles to Warehouse";
}

<h2>Add articles to Warehouse</h2>


<hr />
<div class="row">
    <form asp-action="SaveReceiveArticleWarehouse">
        <input asp-for="@Model.ReceiveArticle.ID" class="form-control" style="visibility:hidden" />
        <div class="col-sm-12">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.ReceiveArticle.Date" class="control-label"></label>
                <input asp-for="@Model.ReceiveArticle.Date" class="form-control" />
                <span asp-validation-for="@Model.ReceiveArticle.Date" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.ReceiveArticle.ArticleID" class="control-label"></label>
                <select asp-for="@Model.ReceiveArticle.ArticleID" class="form-control" asp-items="ViewBag.ArticleID">
                    <option>Select an article</option>
                </select>
                <span asp-validation-for="@Model.ReceiveArticle.ArticleID" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.ReceiveArticle.CompanyID" class="control-label"></label>
                <select asp-for="@Model.ReceiveArticle.CompanyID" class="form-control" asp-items="ViewBag.CompanyID">
                    <option>Select a company</option>
                </select>
                <span asp-validation-for="@Model.ReceiveArticle.CompanyID" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.ReceiveArticle.ContainerNumber" class="control-label"></label>
                <textarea asp-for="@Model.ReceiveArticle.ContainerNumber" class="form-control"></textarea>
                <span asp-validation-for="@Model.ReceiveArticle.ContainerNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="@Model.ReceiveArticle.Description" class="control-label"></label>
                <textarea asp-for="@Model.ReceiveArticle.Description" class="form-control"></textarea>
                <span asp-validation-for="@Model.ReceiveArticle.Description" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <br />
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.ReceiveArticleWarehouses != null)
    {
        <table id="TimeReportTable" class="table table-striped .table-responsive table-sm ">
            <thead class="bg-primary">
                <tr>
                    <td>
                        <label asp-for="@Model.ReceiveArticleWarehouses[0].Warehouse.Name" class="control-label Timelabel"></label>
                    </td>
                    <td>
                        <label asp-for="@Model.ReceiveArticleWarehouses[0].QtyBoxes" class="control-label Timelabel"></label>
                    </td>
                    <td>
                        <label asp-for="@Model.ReceiveArticleWarehouses[0].QtyExtraKg" class="control-label Timelabel"></label>
                    </td>


                </tr>
            </thead>
            @for (var i = 0; i < Model.ReceiveArticleWarehouses.Count; i++)
        {

            <tr>
                <td>
                    <div class="form-group">
                        <p>@Model.ReceiveArticleWarehouses[i].Warehouse.Name</p>
                        <input asp-for="@Model.ReceiveArticleWarehouses[i].WarehouseID" class="form-control" type="hidden" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input asp-for="@Model.ReceiveArticleWarehouses[i].QtyBoxes" class="form-control TimeInput" />
                        <span asp-validation-for="@Model.ReceiveArticleWarehouses[i].QtyBoxes" class="text-danger"></span>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input asp-for="@Model.ReceiveArticleWarehouses[i].QtyExtraKg" class="form-control TimeInput" />
                        <span asp-validation-for="@Model.ReceiveArticleWarehouses[i].QtyExtraKg" class="text-danger"></span>
                    </div>
                </td>

            </tr>

    }
        </table>


}
    </form>
   

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<table class="model-state">
    @foreach (var item in ViewContext.ViewData.ModelState)
    {
        if (item.Value.Errors.Any())
        {
            <tr>
                <td><b>@item.Key</b></td>
                <td>@((item.Value == null || item.Value.Errors.Count == 0) ? "<null>" : item.Value.RawValue)</td>
                <td>@(string.Join("; ", item.Value.Errors.Select(x => x.ErrorMessage)))</td>
            </tr>
        }
    }
</table>