@inject TomasGreen.Web.CustomLocalizer localizer
@model IEnumerable<TomasGreen.Model.Models.Company>

@{
    ViewData["Title"] = @localizer["Index"];
}

<h2>Index</h2>

<p>
    <a asp-action="Create">@localizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastBalanceDate)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastBalanceDate)
                </td>
               
                <td>
                    @await Html.PartialAsync("~/Views/Shared/_IndexLinks.cshtml", item.ID)
                </td>
            </tr>
        }
    </tbody>
</table>
