@model TomasGreen.Model.Models.ArticleWarehouseBalance

<div>
    <h4>ArticleWarehouseBalance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QtyPackagesIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QtyPackagesIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QtyExtraIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QtyExtraIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QtyPackagesOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QtyPackagesOut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QtyExtraOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QtyExtraOut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QtyPackagesOnhand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QtyPackagesOnhand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QtyExtraOnhand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QtyExtraOnhand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Article)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Warehouse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Warehouse.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
