@inject TomasGreen.Web.CustomLocalizer localizer

@model TomasGreen.Model.Models.Company

<div>
    <h4>@localizer["Customer"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ruble)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ruble)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Purchases)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Purchases)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditReceived)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreditReceived)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditLimit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreditLimit)
        </dd>
        
    </dl>
</div>
