@model IEnumerable<TomasGreen.Model.Models.OrderDetail>


<table class="table table-responsive table-hover table-striped">
    <thead>     
    <tr>
          
            <td>
                <label>Article</label>
            </td>
            <td>
                <label>Warehouse</label>
            </td>
            <td align="right" >
                <label>Packages</label>
            </td>
            <td align="right" >
                <label>Extra</label>
            </td>
            <td align="right" >
                <label>Price</label>
            </td>
            <td align="right" >
                <label>Ext. Price</label>
            </td>
            <td></td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Article.Name)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Warehouse.Name)
            </td>
            <td align="right" >
                @Html.DisplayFor(modelItem => item.QtyPackages)
            </td>
            <td align="right" >
                @Html.DisplayFor(modelItem => item.QtyExtra)
            </td>
            <td align="right" >
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td align="right" >
                 @item.Extended_Price.ToString("C")
            </td>
            <td>
                <a asp-action="EditRow" asp-route-id="@item.ID"><span class="glyphicon glyphicon-edit alert-warning"></span></a> |
                <a asp-action="DeleteRow" asp-route-id="@item.ID" onclick="return window.confirm('Are you sure you want to delete this post?')"><span class="glyphicon glyphicon-trash alert-danger"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
