
@inject TomasGreen.Web.CustomLocalizer localizer

@model TomasGreen.Web.Areas.Import.ViewModels.SaveOrderViewModel

@{
    ViewData["Title"] = @localizer["Create"];
}
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<h4> @localizer["Create Order"] </h4>
<hr />
<div>
    <a asp-action="Index"><span class="glyphicon glyphicon-hand-left"></span> </a> | <a asp-action="Create" asp-route-id="@Model.Order?.ID"><span class="glyphicon glyphicon-refresh"></span></a>
</div>
<div class="row">

    <form asp-action="Create">
        <input asp-for="@Model.Order.ID" class="form-control" style="display:none;" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>@ViewBag.ErrorMessage</div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8" style="border-color:cornsilk;">
                    <div class="row">

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.OrderDate" class="control-label">@localizer["Date"]</label>
                                <input asp-for="@Model.Order.OrderDate" class="form-control" />
                                <span asp-validation-for="@Model.Order.OrderDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.EmployeeID" class="control-label">@localizer["Manager"]</label>
                                <select asp-for="@Model.Order.EmployeeID" class="form-control" asp-items="ViewBag.EmployeeID">
                                    <option>Select</option>
                                </select>
                                <span asp-validation-for="@Model.Order.EmployeeID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.CompanyID" class="control-label">@localizer["Customer"]</label>
                                <select asp-for="@Model.Order.CompanyID" class="form-control" asp-items="ViewBag.CompanyID" onchange=" LoadCustomerInfo(this)">
                                    <option>@localizer["Select"]</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.OrderdBy" class="control-label"></label>
                                <input asp-for="@Model.Order.OrderdBy" class="form-control" />
                                <span asp-validation-for="@Model.Order.OrderdBy" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.PaymentDate" class="control-label">@localizer["Pay. date"]</label>
                                <input asp-for="@Model.Order.PaymentDate" class="form-control" />
                                <span asp-validation-for="@Model.Order.PaymentDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.Coments" class="control-label"></label>
                                <textarea asp-for="@Model.Order.Coments" class="form-control"></textarea>
                                <span asp-validation-for="@Model.Order.Coments" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="@Model.Order.Cash" /> @Html.DisplayNameFor(model => model.Order.Cash)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">

                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="@Model.Order.Confirmed" /> @Html.DisplayNameFor(model => model.Order.Confirmed)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="SaveOrder" id="SaveOrder" value='@((Model.Order.ID == 0)? localizer["Create"]: localizer["Update"])' class='@((Model.Order.ID == 0)? "btn btn-primary": "btn btn-warning")' onclick="return ValidateOrder()" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="background-color:ghostwhite;">
                    <div class="row ">
                        <div class="bg-warning"><b>Filled by system</b></div>
                        <div class="col-md-6">
                            <span>Tot. price: </span><span>@Model.Order.TotalPrice</span>
                        </div>
                        <div class="col-md-6">
                            <span>Paid: </span><span>@Model.Order.PaidDate</span>
                        </div>
                        <div class="col-md-6">
                            <span>Amn. paid: </span><span>@Model.Order.AmountPaid</span>
                        </div>
                        <div class="col-md-6">
                            <span>Loaded: </span><span>@Model.Order.LoadedDate</span>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" value="@Model.Order.HasIssue" disabled />
                            <span>Has issue</span>

                        </div>


                    </div>
                </div>
            </div>
        </div>

        <!-- collaps go -->
        <!--Collap stop-->
        <!--Tab go -->
        <div class="tab" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li id="OrderDetail_Tab" class="active" role="presentation"><a role="tab" aria-controls="home" href="#Section1" data-toggle="tab"> @localizer["Articles"] &nbsp;<img style="width:25px; height:25px;" src="~/images/inviceRows.png" /></a></li>
                <li id="Customer_Tab" role="presentation"><a role="tab" aria-controls="Customer" href="#Section2" data-toggle="tab"> @localizer["Customer"] &nbsp;<img style="width:25px; height:25px;" src="~/images/Info.png" /></a></li>
                <li id="PickList_Tab" role="presentation"><a role="tab" aria-controls="PickList" href="#Section3" data-toggle="tab"> @localizer["Pick list"] &nbsp;<span class="glyphicon glyphicon-print alert-success"></span></a></li>
                <li id="OrderReport_Tab" role="presentation"><a role="tab" aria-controls="OrderReport" href="#Section4" data-toggle="tab"> @localizer["Order"] &nbsp;<span class="glyphicon glyphicon-print alert-success"></span></a></li>

            </ul>
            <!-- Tab panes -->
            <div class="tab-content tabs">
                <div class="tab-pane fade in active" id="Section1" role="tabpanel">
                    <div><br /></div>
                    <div id="OrdedDetail_Mess"></div>
                    <div>
                        @*@{
                        @if (Model.Order.ID > 0 && Model.Order.OrderDetails.Count > 0)
                    {
                        @await Component.InvokeAsync(nameof(TomasGreen.Web.Areas.Import.Components.ArticleWarehouseAvailability), new { articleId = Model.OrderDetail?.ArticleID, warehousId = Model.OrderDetail?.WarehouseID })
                }
                    }*@
                    </div>
                    <div id="ArticleWarehouseBalance"></div>
                    <input asp-for="@Model.OrderDetail.ID" class="form-control" style="display:none;" />
                    <input asp-for="@Model.OrderDetail.OrderID" class="form-control" style="display:none;" />
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="@Model.ArticleCategory.Name" class="control-label"></label>
                                <select asp-for="@Model.ArticleCategory.ID" class="form-control" asp-items="ViewBag.ArticleCategoryID" onchange="LoadArticles(this)">
                                    <option>@localizer["Select"]</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="@Model.OrderDetail.ArticleID" class="control-label"></label>
                                <select asp-for="@Model.OrderDetail.ArticleID" class="form-control" asp-items="ViewBag.ArticleID" onchange="LoadWarehouses(this)">
                                    <option>@localizer["Select"]</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.OrderDetail.WarehouseID" class="control-label"></label>
                                <select asp-for="@Model.OrderDetail.WarehouseID" class="form-control" asp-items="ViewBag.WarehouseID" onchange="LoadArticleWarehoseBalance(this)">
                                    <option>@localizer["Select"]</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label asp-for="@Model.OrderDetail.QtyPackages" class="control-label">Package</label>
                                <input asp-for="@Model.OrderDetail.QtyPackages" class="form-control" />
                                <span asp-validation-for="@Model.OrderDetail.QtyPackages" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label asp-for="@Model.OrderDetail.QtyExtra" class="control-label">Extra</label>
                                <input asp-for="@Model.OrderDetail.QtyExtra" class="form-control" />
                                <span asp-validation-for="@Model.OrderDetail.QtyExtra" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label asp-for="@Model.OrderDetail.Price" class="control-label">Price</label>
                                <input asp-for="@Model.OrderDetail.Price" class="form-control" />
                                <span asp-validation-for="@Model.OrderDetail.Price" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group">
                                <br />
                                <input type="submit" name="SaveOrderDetail" id="SaveOrderDetail" value='@((Model.OrderDetail.ID == 0)? localizer["Add"]: localizer["Edit"])' class='@((Model.OrderDetail.ID == 0)? "btn btn-primary": "btn btn-warning")' />


                            </div>
                        </div>
                    </div>
                    <div><br /></div>
                    <div id="SavedOrderDetailsList">
                        @Html.Partial("_OrderDetailsPartialView.cshtml", Model.Order.OrderDetails)
                    </div>
                </div>
                <div class="tab-pane fade in " id="Section2" role="tabpanel">
                    <div id="CustomerInfoPlaceHolder">customer info here...</div>
                </div>
                <div class="tab-pane fade in " id="Section3" role="tabpanel">
                    <div id="PickListPlaceHolder">Pick list here...</div>
                </div>
                <div class="tab-pane fade in " id="Section4" role="tabpanel">
                    <div id="OrderReportPlaceHolder">
                        order report here...
                       
                    </div>
                </div>
            </div>
        </div>


        <!-- Tab stop -->







    </form>

</div>



<script src="~/js/Order.js"></script>