@model  IEnumerable<TomasGreen.Model.Models.PurchasedArticleDetail>

<table class="table table-responsive table-hover table-striped">
    <thead>
        <tr>


            <td>
                <label>Warehouse</label>
            </td>
            <td>
                <label>Article</label>
            </td>
            <td align="right">
                <label>Packages</label>
            </td>
            <td align="right">
                <label>Extra</label>
            </td>
            <td align="right">
                <label>Unit price</label>
            </td>
            <td align="right">
                <label>Tot. Price</label>
            </td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OntheWayWarehouse.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article.Name)
            </td>

            <td align="right">
                @Html.DisplayFor(modelItem => item.QtyPackages)
                @{
                    if (item.ArrivedDate != null)
                    {
                        <p>@item.QtyPackagesArrived</p>
                    }

                }
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.QtyExtra)
                @{
                    if (item.ArrivedDate != null)
                    {
                      <p>@item.QtyExtraArrived</p>
                    }

                }
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td align="right">
                @item.TotalPerUnit.ToString("C")
            </td>
            <td>
                <a asp-action="EditPurchasedArticleDetail" asp-route-id="@item.ID"><span class="glyphicon glyphicon-edit alert-warning"></span></a>&nbsp;&nbsp; |&nbsp;&nbsp;
                <a asp-action="DeletePurchasedArticleDetail" asp-route-id="@item.ID" onclick="return window.confirm('Are you sure you want to delete this post?')"><span class="glyphicon glyphicon-trash alert-danger"></span></a>
            </td>
        </tr>
        }
    </tbody>
</table>
