@model IEnumerable<TomasGreen.Model.Models.PurchasedArticle>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Date")
            </th>
            <th>
                @Html.DisplayName("Supplier")
            </th>
            
            <th>
                @Html.DisplayName("TotalPrice")
            </th>
            <th>
                @Html.DisplayName("Exp. to arrive")
            </th>
            <th>
                @Html.DisplayName("Arrived")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @(item.ExpectedToArrive.HasValue ? item.ExpectedToArrive.Value.ToString("yyyy-MM-dd") : "")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrived)
            </td>
            <td>
                <a asp-action="Create" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
