@model TomasGreen.Web.Areas.Sales.ViewModels.SaveOrderViewModel

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h4> Create Order </h4>
<hr />

<div class="row">

    <form asp-action="Create">
        <input asp-for="@Model.Order.ID" class="form-control"  />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="@Model.Order.CompanyID" class="control-label">Customer</label>
                    <select asp-for="@Model.Order.CompanyID" class="form-control" asp-items="ViewBag.CompanyID" onchange=" LoadCustomerInfo(this)">
                        <option>Select</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="@Model.Order.OrderDate" class="control-label">Date</label>
                    <input asp-for="@Model.Order.OrderDate" class="form-control" />
                    <span asp-validation-for="@Model.Order.OrderDate" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <br />
                    @{
                        if (Model.Order.ID == 0)
                        {
                                <input type="submit" name="SaveOrder" id="SaveOrder" value="Create" class="btn btn-primary" onclick="return ValidateOrder()" />

                        }
                        else
                        {
                                <input type="submit" name="SaveOrder" id="SaveOrder" value="Update" class="btn btn-primary" onclick="return ValidateOrder()" />

                        }
                    }

                </div>
            </div>



        </div>
        <div>
            <br />&nbsp;
        </div>
        <!--Tab go -->
        <div class="tab" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li id="OrderDetail_Tab" class="active" role="presentation"><a role="tab" aria-controls="home" href="#Section1" data-toggle="tab"> Articles &nbsp;<img style="width:25px; height:25px;" src="~/images/inviceRows.png" /></a></li>
                <li id="OrderDetail_Tab" role="presentation"><a role="tab" aria-controls="Parment" href="#Section2" data-toggle="tab"> Payment </a></li>
                <li id="Loading_Tab" role="presentation"><a role="tab" aria-controls="Loading" href="#Section3" data-toggle="tab"> Loading </a></li>
                <li id="MoreInfo_Tab" role="presentation"><a role="tab" aria-controls="More info." href="#Section4" data-toggle="tab"> More inf. </a></li>
                <li id="Customer_Tab" role="presentation"><a role="tab" aria-controls="Customer info." href="#Section5" data-toggle="tab"> Customer info. </a></li>

            </ul>
            <!-- Tab panes -->
            <div class="tab-content tabs">
                <div class="tab-pane fade in active" id="Section1" role="tabpanel">
                    <div><br /></div>
                    <div id="OrdedDetail_Mess">Mess</div>
                    <div>
                        @await Component.InvokeAsync(nameof(TomasGreen.Web.Areas.Sales.Components.ArticleWarehouseAvailability), new { articleId = Model.OrderDetail.ArticleID, warehousId = Model.OrderDetail.WarehouseID })
                    </div>
                    <div id="ArticleWarehouseBalance"></div>
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="@Model.ArticleCategory.Name" class="control-label"></label>
                                <select asp-for="@Model.ArticleCategory.ID" class="form-control" asp-items="ViewBag.ArticleCategoryID" onchange="LoadArticles(this)">
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="@Model.OrderDetail.ArticleID" class="control-label"></label>
                                <select asp-for="@Model.OrderDetail.ArticleID" class="form-control" asp-items="ViewBag.ArticleID" onchange="LoadWarehouses(this)"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.OrderDetail.WarehouseID" class="control-label"></label>
                                <select asp-for="@Model.OrderDetail.WarehouseID" class="form-control" asp-items="ViewBag.WarehouseID" onchange=" LoadArticleWarehoseBalance(this)"></select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label asp-for="@Model.OrderDetail.QtyBoxes" class="control-label">Box</label>
                                <input asp-for="@Model.OrderDetail.QtyBoxes" class="form-control" />
                                <span asp-validation-for="@Model.OrderDetail.QtyBoxes" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label asp-for="@Model.OrderDetail.QtyReserveBoxes" class="control-label">Reserve</label>
                                <input asp-for="@Model.OrderDetail.QtyReserveBoxes" class="form-control" />
                                <span asp-validation-for="@Model.OrderDetail.QtyReserveBoxes" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label asp-for="@Model.OrderDetail.QtyKg" class="control-label">Extra kg</label>
                                <input asp-for="@Model.OrderDetail.QtyKg" class="form-control" />
                                <span asp-validation-for="@Model.OrderDetail.QtyKg" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label asp-for="@Model.OrderDetail.Price" class="control-label">Price</label>
                                <input asp-for="@Model.OrderDetail.Price" class="form-control" />
                                <span asp-validation-for="@Model.OrderDetail.Price" class="text-danger"></span>
                            </div>
                        </div>
                       
                        <div class="col-md-1">
                            <div class="form-group">
                                <br />
                                <input type="submit" name="AddOrderDetail" id="AddOrderDetail" value="Add" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                    <div><br /></div>
                    <div id="SavedOrderDetailsList">
                        @Html.Partial("_OrderDetailsPartialView.cshtml", Model.Order.OrderDetails)
                    </div>
                </div>
                <div class="tab-pane fade in " id="Section2" role="tabpanel">
                    <div><br /></div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.PaymentDate" class="control-label"></label>
                                <input asp-for="@Model.Order.PaymentDate" class="form-control" />
                                <span asp-validation-for="@Model.Order.PaymentDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.PaidDate" class="control-label"></label>
                                <input asp-for="@Model.Order.PaidDate" class="form-control" />
                                <span asp-validation-for="@Model.Order.PaidDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.AmountPaid" class="control-label"></label>
                                <input asp-for="@Model.Order.AmountPaid" class="form-control" />
                                <span asp-validation-for="@Model.Order.AmountPaid" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.PaymentWarning" class="control-label"></label>
                                <input asp-for="@Model.Order.PaymentWarning" class="form-control" />
                                <span asp-validation-for="@Model.Order.PaymentWarning" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="@Model.Order.OrderPaid" /> @Html.DisplayNameFor(model => model.Order.OrderPaid)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="@Model.Order.ForcedPaid" /> @Html.DisplayNameFor(model => model.Order.ForcedPaid)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="@Model.Order.Cash" /> @Html.DisplayNameFor(model => model.Order.Cash)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>


                </div>
                <div class="tab-pane fade in " id="Section3" role="tabpanel">
                    <div><br /></div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.OrderTransportID" class="control-label"></label>
                                <select asp-for="@Model.Order.OrderTransportID" class="form-control" asp-items="ViewBag.OrderTransportID">
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.LoadingDate" class="control-label"></label>
                                <input asp-for="@Model.Order.LoadingDate" class="form-control" />
                                <span asp-validation-for="@Model.Order.LoadingDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.LoadedDate" class="control-label"></label>
                                <input asp-for="@Model.Order.LoadedDate" class="form-control" />
                                <span asp-validation-for="@Model.Order.LoadedDate" class="text-danger"></span>
                            </div>
                        </div>


                    </div>


                </div>
                <div class="tab-pane fade in " id="Section4" role="tabpanel">
                    <div><br /></div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.OrderdBy" class="control-label"></label>
                                <input asp-for="@Model.Order.OrderdBy" class="form-control" />
                                <span asp-validation-for="@Model.Order.OrderdBy" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.EmployeeID" class="control-label"></label>
                                <select asp-for="@Model.Order.EmployeeID" class="form-control" asp-items="ViewBag.EmployeeID">
                                    <option>Select</option>
                                </select>
                                <span asp-validation-for="@Model.Order.EmployeeID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.Coments" class="control-label"></label>
                                <input asp-for="@Model.Order.Coments" class="form-control" />
                                <span asp-validation-for="@Model.Order.Coments" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.AmountArticle" class="control-label"></label>
                                <input asp-for="@Model.Order.AmountArticle" class="form-control" />
                                <span asp-validation-for="@Model.Order.AmountArticle" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.AmountReserve" class="control-label"></label>
                                <input asp-for="@Model.Order.AmountReserve" class="form-control" />
                                <span asp-validation-for="@Model.Order.AmountReserve" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.Order.TotalPrice" class="control-label"></label>
                                <input asp-for="@Model.Order.TotalPrice" class="form-control" />
                                <span asp-validation-for="@Model.Order.TotalPrice" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in " id="Section5" role="tabpanel">
                    <div id="CustomerInfoPlaceHolder">some customer info here...</div>
                </div>
            </div>
        </div>


        <!-- Tab stop -->







    </form>

</div>

<div>
    <br /><br />
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/Order.js"></script>