@model IEnumerable<TomasGreen.Model.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-responsive">
    <thead>
        <tr class="bg-info">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.MinimumPricePerUSD)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.WeightPerPackage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleUnitID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticlePackageFormID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.MinimumPricePerUSD)
            </td>
            <td class="text-right" >
                @Html.DisplayFor(modelItem => item.WeightPerPackage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleUnit.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticlePackageForm.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
