@inject TomasGreen.Web.CustomLocalizer localizer

@model TomasGreen.Model.Models.RoastingPlan

@{
    ViewData["Title"] = @localizer["Create"];
}

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<h2>@localizer["Roasting plan"]</h2>

<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="ManagerID" class="control-label">@localizer["Manager"]</label>
                    <select asp-for="ManagerID" class="form-control" asp-items="ViewBag.ManagerID">
                        <option>Select</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="CompanyID" class="control-label">@localizer["Customer"]</label>
                    <select asp-for="CompanyID" class="form-control" asp-items="ViewBag.CompanyID" onchange="LoadFromAndToWarehousesForCompany(this)">
                        <option>Select</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="TotalPrice" class="control-label">@localizer["Total price"]</label>
                    <input asp-for="TotalPrice" class="form-control" disabled />
                    <span asp-validation-for="TotalPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h3 class="text-on-pannel text-primary"><strong class=""> Article in </strong></h3>
                        <div class="form-group">
                            <label asp-for="FromWarehouseID" class="control-label">@localizer["Warehouse"]</label>
                            <select asp-for="FromWarehouseID" class="form-control" asp-items="ViewBag.FromWarehouseID" onchange="LoadArticles(this)">
                                <option>Select</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="ArticleID" class="control-label">@localizer["Article"]</label>
                            <select asp-for="ArticleID" class="form-control" asp-items="ViewBag.ArticleID">
                                <option>Select</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="QtyPackages" class="control-label">@localizer["Packages"]</label>
                            <input asp-for="QtyPackages" class="form-control" />
                            <span asp-validation-for="QtyPackages" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="QtyExtra" class="control-label">@localizer["Extra"]</label>
                            <input asp-for="QtyExtra" class="form-control" />
                            <span asp-validation-for="QtyExtra" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TotalWeight" class="control-label"></label>
                            <input asp-for="TotalWeight" class="form-control" disabled />
                            <span asp-validation-for="TotalWeight" class="text-danger"></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h3 class="text-on-pannel text-primary"><strong class=""> @localizer["Work and material"] </strong></h3>
                        <div class="form-group">
                            <label asp-for="Salt" class="control-label"></label>
                            <input asp-for="Salt" class="form-control" />
                            <span asp-validation-for="Salt" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PackagingMaterialPackageID" class="control-label">@localizer["Boxes"]</label>
                            <select asp-for="PackagingMaterialPackageID" class="form-control" asp-items="ViewBag.PackagingMaterialPackageID">
                                <option>Select</option>
                            </select>
                            <span asp-validation-for="PackagingMaterialPackageID" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="Packages" class="control-label"></label>
                            <input asp-for="Packages" class="form-control" />
                            <span asp-validation-for="Packages" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PackagingMaterialBagID" class="control-label">@localizer["Bags"]</label>
                            <select asp-for="PackagingMaterialBagID" class="form-control" asp-items="ViewBag.PackagingMaterialBagID">
                                <option>Select</option>
                            </select>
                            <span asp-validation-for="PackagingMaterialBagID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Bags" class="control-label"></label>
                            <input asp-for="Bags" class="form-control" />
                            <span asp-validation-for="Bags" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="WeightChange" class="control-label">@localizer["weight change"]</label>
                            <input asp-for="WeightChange" class="form-control" />
                            <span asp-validation-for="WeightChange" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PricePerUnit" class="control-label">@localizer["Price/unit"]</label>
                            <input asp-for="PricePerUnit" class="form-control" />
                            <span asp-validation-for="PricePerUnit" class="text-danger"></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h3 class="text-on-pannel text-primary"><strong class="">Article out </strong></h3>
                        <div class="form-group">
                            <label asp-for="ToWarehouseID" class="control-label">@localizer["Warehouse"]</label>
                            <select asp-for="ToWarehouseID" class="form-control" asp-items="ViewBag.ToWarehouseID">
                                <option>Select</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewArticleID" class="control-label">@localizer["Article"]</label>
                            <select asp-for="NewArticleID" class="form-control" asp-items="ViewBag.NewArticleID">
                                <option>Select</option>
                            </select>
                            <span asp-validation-for="NewArticleID" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="NewQtyPackages" class="control-label">@localizer["packages"]</label>
                            <input asp-for="NewQtyPackages" class="form-control" />
                            <span asp-validation-for="NewQtyPackages" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewQtyExtra" class="control-label">@localizer["Extra"]</label>
                            <input asp-for="NewQtyExtra" class="form-control" />
                            <span asp-validation-for="NewQtyExtra" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewTotalWeight" class="control-label">@localizer["Total weight"]</label>
                            <input asp-for="NewTotalWeight" class="form-control" disabled />
                            <span asp-validation-for="NewTotalWeight" class="text-danger"></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>


</form>


<div>
    <a asp-action="Index">@localizer["Back to List"]</a>
</div>
<script src="~/js/RoastingPlan.js"></script>
