@model TomasGreen.Model.Models.RoastingPlan

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RoastingPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QtyPackages)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QtyPackages)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QtyExtra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QtyExtra)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.TotalWeight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalWeight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WeightChange)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeightChange)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewArticleID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewArticleID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewQtyPackages)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewQtyPackages)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewQtyExtra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewQtyExtra)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.NewTotalWeight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewTotalWeight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SaltLimit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SaltLimit)
        </dd>
     
        <dt>
            @Html.DisplayNameFor(model => model.PricePerUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PricePerUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manager.Email)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
