@model IEnumerable<TomasGreen.Model.Models.RoastingPlan>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewArticleID)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.TotalWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeightChange)
            </th>

            
            <th>
                @Html.DisplayNameFor(model => model.NewTotalWeight)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.PricePerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtyPackages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtExtra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleUnitID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightPerPackage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewArticleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewQtyPackages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewQtyExtra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewArticleUnitID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewWeightPerPackage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewTotalWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaltLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewPackagingMaterialPackageID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewPackages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewPackagingMaterialBagID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewBags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
