@inject TomasGreen.Web.CustomLocalizer localizer

@model IEnumerable<TomasGreen.Model.Models.RoastingPlan>

@{
    ViewData["Title"] = @localizer["Index"];
}

<h2>@localizer["Index"]</h2>

<p>
    <a asp-action="Create">@localizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @localizer[@Html.DisplayNameFor(model => model.Company)]
            </th>
            <th>
                @localizer[@Html.DisplayNameFor(model => model.Date)]
            </th>
            <th>
                @localizer[@Html.DisplayNameFor(model => model.ArticleID)]
            </th>
            <th>
                @localizer[@Html.DisplayNameFor(model => model.TotalWeight)]
            </th>
            <th>
                @localizer[@Html.DisplayNameFor(model => model.NewArticleID)]
            </th>
            <th>
                @localizer[@Html.DisplayNameFor(model => model.NewTotalWeight)]
            </th>
            <th>
                @localizer[@Html.DisplayNameFor(model => model.WeightChange)]
            </th>
            <th>
                @localizer[@Html.DisplayNameFor(model => model.PricePerUnit)]
            </th>
            <th>
                @localizer[@Html.DisplayNameFor(model => model.TotalPrice)]
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TotalWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewArticleID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NewTotalWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeightChange)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>

                <td>
                    <a asp-action="Create" asp-route-id="@item.ID">@localizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">@localizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">@localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
